<div class="AttendanceMonitoringSystemPage">
  <div class="AttendanceMonitoringSystemPageHeader">
    <div style="width: 1200px; height: 100px; display: flex; margin-left: 20%">
      <img src="https://www.pngjoy.com/pngl/131/2663889_group-of-people-icon-avatar-group-icon-png.png" style="height: 100px; margin-left: 20px">
      <h1 style="margin-left: 10px; margin-top: 25px;">FS Bench Attendance Monitoring System</h1>
    </div>
  </div>

  <div style="width: 1200px; height: 100px; display: flex; margin-left: 20%">
    <div style="display: inline-flex; margin-top: 20px">
      <h1>Date:</h1>
      <h1 style="font-size: 56px; margin-top: 0px">{{ dateToday }}</h1>
    </div>
  </div>

  <div style="width: 1200px; height: auto; display: flex; margin-left: 20%; position: relative;">
    <div style="display: inline-block">
      <h1>Present</h1>
      <div style="background-color: white; width: 400px; height: auto; margin-top: 10px;">
        <div style="background-color: yellow; width: 400px; height: 100px; display: flex;">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/99bbc942-8501-4ebe-98ce-4a7f23978703/d4ltn7a-6de5cee7-85d4-4787-b8c0-9739142d49de.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk5YmJjOTQyLTg1MDEtNGViZS05OGNlLTRhN2YyMzk3ODcwM1wvZDRsdG43YS02ZGU1Y2VlNy04NWQ0LTQ3ODctYjhjMC05NzM5MTQyZDQ5ZGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.N45CGpTP0LhsI_cbZxuwPVWEqhtnUTMDiUvLspdZhKg" style="height: 100px; margin-left: 30px;">
          <h1 style="margin-top: 30px">Employee Name</h1>
        </div>
        <table class="AttendanceMonitoringSystemPageTable">
          <tr *ngFor="let present of present_list; let i = index" style="cursor: pointer">
            <td style="font-size: 24px" (click)="setValues('present_'+ i, present, 'present', i)" id=present_{{i}}>{{present.first_name}}, {{present.last_name}}</td>
          <tr>
        </table>
      </div>
    </div>

    <div style="display: inline-block">
      <div style="position: relative; cursor: pointer" tappable (click)="transferNameToAbsent()">
        <img src="https://www.iconsdb.com/icons/preview/red/arrow-xxl.png" style="height: 200px; margin-left: 50px; margin-top: 180px">
        <h1 style="position: absolute; margin-top: -120px; margin-left: 80px; color: white">Absent</h1>
      </div>

      <div style="position: relative; cursor: pointer" tappable (click)="transferToPresent()">
        <img src="https://www.iconsdb.com/icons/preview/green/arrow-xxl.png" style="height: 200px; margin-left: 50px; transform: rotate(180deg)">
        <h1 style="position: absolute; margin-top: -120px; margin-left: 120px; color: white">Present</h1>
      </div>
    </div>

    <div style="display: inline-block; margin-left: 50px">
      <h1>Absent</h1>
      <div style="background-color: white; width: 400px; height: auto; margin-top: 10px">
        <div style="background-color: yellow; width: 400px; height: 100px; display: flex">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/99bbc942-8501-4ebe-98ce-4a7f23978703/d4ltn7a-6de5cee7-85d4-4787-b8c0-9739142d49de.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk5YmJjOTQyLTg1MDEtNGViZS05OGNlLTRhN2YyMzk3ODcwM1wvZDRsdG43YS02ZGU1Y2VlNy04NWQ0LTQ3ODctYjhjMC05NzM5MTQyZDQ5ZGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.N45CGpTP0LhsI_cbZxuwPVWEqhtnUTMDiUvLspdZhKg" style="height: 100px; margin-left: 30px">
          <h1 style="margin-top: 30px">Employee Name</h1>
        </div>
        <table class="AttendanceMonitoringSystemPageTable">
          <tr *ngFor="let absent of absent_list; let i = index" style="cursor: pointer">
            <td style="font-size: 24px" (click)="setValues('absent_'+ i, absent, 'absent', i)" id=absent_{{i}}>{{absent.first_name}}, {{absent.last_name}}</td>
          <tr>
        </table>
      </div>
    </div>
  </div>

  <div style="width: 1200px; height: 100px; display: flex; margin-left: 20%; margin-top: 20px; justify-content: center; position: absolute;">
    <button style="width: 200px; font-size: 36px; height: 80px; background-color: yellow; border-radius: 20px; font-weight: bold; border: none; cursor: pointer" (click)="saveToSessionStorage()">SUBMIT</button>
    <button style="width: 200px; font-size: 36px; height: 80px; background-color: yellow; border-radius: 20px; font-weight: bold; margin-left: 40px; border: none; cursor: pointer" (click)="setPresentclearAbsent()">CANCEL</button>
  </div>
</div>